.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

nz-header {
  background: #fff;
  padding: 0;
  margin-bottom: 16px;
}

nz-content {
  margin: 0 16px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
  height: 100%;
}

nz-footer {
  text-align: center;
}

.main-layout {
  height: 100%;
}
